body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  padding: 0;
}

@font-face {
  font-family: "Logo"; /*Can be any text*/
  src: local("wv"), url("./fonts/wv.ttf") format("truetype");
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #008000; /* Original green */
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s; /* Combined transition property with box-shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.scroll-button:hover {
  background-color: #006400; /* Darker shade for hover */
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

.scroll-button:active {
  background-color: #004d00; /* Darker shade for active */
  transform: scale(0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Revert to the original shadow on active */
}

.contactNav {
  height: 50px;
  width: 100%;
  background-color: #008000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contactNav > div {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.contactNav > div > p {
  padding: 0 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.imageContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  align-items: center;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.transitionImage {
  width: 100%;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.transitionImage2 {
  width: 100%;
  height: 150px;
}

.imageContainerContent {
  padding: 100px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  flex-direction: column;
}

.showcaseImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(5px) brightness(70%);
  top: 0;
  left: 0;
}

.contentContainer {
  width: 100%;
  text-align: center;
}

.aboutUsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  max-width: 1200px;
  box-shadow: 0px 10px 20px rgba(137, 137, 137, 0.23); /* Adjusted spread-radius */
  border-top: 3px solid #008000;
  transition: box-shadow 0.5s;
}

.aboutUs:hover {
  box-shadow: 0px 10px 20px rgba(77, 77, 77, 0.23); /* Adjusted spread-radius */
}

.aboutUs > img {
  margin-right: 25px;
}

.tab {
  display: inline-block;
  margin-left: 25px; /* for e.g: value = 40px*/
}

.servicesCardsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.serviceCard {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative; /* Added position relative */
  padding: 20px;
  width: 300px;
  height: 375px;
  background-color: white;
  margin: 10px 10px;
  border-top: 3px solid #008000;
  transition: border-top 0.2s, box-shadow 0.2s, transform 0.2s;
  box-shadow: 0px 10px 20px rgba(137, 137, 137, 0.23); /* Adjusted spread-radius */
}

.serviceCardButton {
  text-align: center;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
}

.serviceCard:hover {
  transform: scale(1.05);
  border-top: 3px solid #f28c28;
  box-shadow: 0px 10px 20px rgba(77, 77, 77, 0.23); /* Adjusted spread-radius */
}

.cardImage {
  width: 175px;
  height: 175px;
}

.serviceCardImageContainer {
  width: 100%;
}

.teamCardsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  background-image: url("../public/assets/images/background-art-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.teamCard {
  box-shadow: 0px 10px 20px rgba(137, 137, 137, 0.23); /* Adjusted spread-radius */
  width: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-bottom: 3px solid #008000;
  transition: border-bottom 0.2s, box-shadow 0.2s, transform 0.2s;
}

.teamCard:hover {
  transform: scale(1.05);
  border-bottom: 3px solid #f28c28;
  box-shadow: 0px 10px 20px rgba(77, 77, 77, 0.23); /* Adjusted spread-radius */
}

.teamCardInfo {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  background-color: white;
}

.teamCardImageContainer {
  width: 230px;
  height: 330px;
  overflow: hidden;
  background-color: white;
}

.teamCardImage {
  transition: transform 0.7s;
}

.teamCardImageContainer:hover img {
  transform: scale(1.1);
}

.teamSwiper {
  height: 500px;
  width: 100%;
}

.swiper-slide{
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .contactNav {
    height: auto;
    width: 100%;
    background-color: #008000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #rightSection {
    flex-direction: column;
  }

  .imageContainerContent {
    padding: 25px;
  }

  .contactNav > div > p {
    margin: 2px;
  }

  .imageContainer {
    height: 600px;
  }

  .transitionImage {
    object-fit: cover;
  }

  .transitionImage2 {
    object-fit: cover;
  }

  .aboutUs {
    flex-direction: column;
  }

  .aboutUs > img {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .serviceCard {
    width: 300px;
  }

  .serviceCard:hover {
    transform: scale(1.05);
  }
}
